@model PagedResult<Plate>

@{
    ViewData["Title"] = "Plates";
}

<h1 class="h1">Plates</h1>

<a asp-action="Add" class="btn btn-secondary">Add Plate</a>

<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Registration</th>
            <th>Purchase Price</th>
            <th>Sale Price</th>
            <th>Letters</th>
            <th>Numbers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Results)
        {
            <tr>
                <td>@p.Registration</td>
                <td>@p.PurchasePrice</td>
                <td>@p.SalePrice</td>
                <td>@p.Letters</td>
                <td>@p.Numbers</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(!Model.Paging.HasPrevious ? "disabled" : "")"><a class="page-link" asp-action="Index" asp-route-paging.page="@(Model.Paging.Page - 1)">Previous</a></li>
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-paging.page="@Model.Paging.Page">@Model.Paging.Page</a></li>
                        <li class="page-item @(!Model.Paging.HasNext ? "disabled" : "")"><a class="page-link" asp-action="Index" asp-route-paging.page="@(Model.Paging.Page + 1)">Next</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>